/*Disenos para el header*/
.container-fluid{
    padding: 10px; 
  }
  .container-fluid .nav{
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
  }
  
  .nav-item{
      margin-right: 10px;
  }
  
  .nav-item a{
      text-decoration: none;
      color: black;
      font-size: 20px;
  }
  
  .nav-item a:hover{
      text-decoration: underline;
      color: black;
  }
 .sct-navegacion {
    position: fixed;
    top: 0;
    width:100%;
    background-color: #fff;
}
/*Diseno para el Main*/

.sct-titulo {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(58, 86, 125, .1);
}

.sct-titulo .titulo {
    display: flex;
    justify-content: space-around;
    color: black;
}

.sct-titulo .subtitulo {

    text-align: justify;
}

.sct-titulo .titulo .btn-third {
    color: #fff;
    background-color: #073256;
    border-color: #073256;
    ;
}

.sct-titulo .titulo .btn-secondary {
    color: #fff;
    background-color: #073256;
    border-color: #073256;
}

.sct-titulo h1 {
    text-align: center;
}

/*Disenos para opciones del Main*/
.sct-informacion {
    padding-bottom: 50px;
}

.sct-informacion h2 {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

.contenedor-info img {
    width: 200px;
    height: 200px;
}

.contenedor-info {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.contenedor-info .btn {
    text-align: center;
    background-color: #073256;
    border-color: #073256;
    color: #ffff;
}

/*Disenos para el Footer*/
.contenedor {
    background-color: rgba(58, 86, 125, .1);
}

.contenedor .fila {
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.contenedor .derechos {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 12px;
}

.info-redes{
    display: flex;
}

.info-redes a{
    margin: 0 20px;
    width: 10px;
    font-style: none;
    color: black;
}