body {
    color: black;
}


/*Disenos para el header*/
.container-fluid{
  padding: 10px; 
}
.container-fluid .nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.nav-item{
    margin-right: 10px;
}

.nav-item a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav-item a:hover{
    text-decoration: underline;
    color: black;
}

.sct-navegacion {
    position: fixed;
    top: 0;
    width:100%;
    background-color: #fff;
}
/*Disenos para el Main*/
.sct-titulo {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(58, 86, 125, .1);
}

.sct-titulo .titulo{
display: flex;
justify-content: space-around;
}

.sct-titulo .titulo{
    text-align: center;
}
.sct-titulo .parrafoMi{
    text-align: justify;
}


/*Disenos para el cuerpo*/


.sct-cuerpo{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

hr{
    border: none;
    border-top: 10px solid black;
    margin: 20px 0;
}
.sct-cuerpo .cuerpo{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}
.sct-cuerpo .titulo h3{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.sct-cuerpo img{
    padding-bottom: 80px;
    width: 400px;
    height: 400px;
}
/*Disenos para el Footer*/
.contenedor{
    background-color: rgba(58,86,125,.1);;
}

.contenedor .fila{
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.contenedor .derechos{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 12px;
}
.info-redes{
    display: flex;
}

.info-redes a{
    margin: 0 20px;
    width: 10px;
    font-style: none;
    color: black;
}